/*======== GERAL =========*/


/* .container {
	height: auto;
	margin: 100 auto;
	display: flex;
	justify-content: space-between;
} */



.pp {
	background: #1e1288;
	display: flex;
	align-items: center;	
}

.hamburguer{
	margin-right: 60% !important;
}
.menu__lateral{
	z-index: 1;
	
}

.login {
  max-width: 320px;
  margin: auto;
  padding: 45px;
  border-radius: 10px;
}


.register {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.register {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
.barra_d_navegacao {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;}

	.text-decoration-none {
		text-decoration: none;}

.cursos {
    align-items: center;
	color: blue;

} 


/* .add {

	color: rgb(67, 1, 129);
} */

 .group {
	align-items: center;
	margin: 128px 154px;
	align-self: auto;
} 

/* .src {

	padding: 5px
} */

/*======== RODAPÉ =========*/
.cauda {
	
	height: auto;
	margin: 100 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #1e1288 !important;
	padding: 0px;
}



.divRodape {
	width: 33.333333%;
}



.divRodape {
	background: #1e1288;
}

.divImagem {
	text-align: center;
}

.divImagem img {
	margin-bottom: 50px;
}

.divImagem img:last-child {
	margin-bottom: 10;
}

.divRodapeImagem {
	margin-bottom: 3px;
}

.divRodape p {
	color: #BDC3DC;
	margin: 0 0 30px 0;
	font-size: 1em;
}

.divRodape p:last-child {
	margin-bottom: 0;
}

.divRodape p.pLink {
	font-weight: bold;
	color: #FFF;
}

.divRodape p.pMargem {
	margin-bottom: 20px;
}

.divRodape p:first-child {
	margin-top: 1px;
}

.divSvg {
	margin-right: 1px;
	margin-bottom: 6px;
}

.divSvg:last-child {
	margin-right: 0;
}